 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Gaura Rasa Academy is a Home School Co-op and an online-only school support initiative for parents interested in providing their children with an environment to grow Spiritually and Academically!</p>
                </div>
                <div class="col-lg-4">
                    <p>We understand the need for flexibility and offer half-day and full-day options. All classes are on-line and via Zoom meetings. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
